@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-item {
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 5px;
    animation: shimmer 1.5s infinite;
    width: 100%;
}

@keyframes shimmer {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}
